<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'quote_app/quotes.css'%}">
		<title> Quotes </title>
	</head>
	<body>
		<div id='container'>
			<div id='content'>
				<div id="header">
					<a href="/success"> Dashboard </a>  |  <a href="/logout"> Logout </a>
				</div>
				
				<div>
					<h4> Posts by: {{ show.alias }} </h4>
					<h4> Count: {{ count }} </h4>

				{% for element in postQuote %}
					<!-- insert posts by and count -->
					<p> {{ element.quoted_by }}: {{ element.quote }} </p>
				{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>