<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'appt_app/appointments.css'%}">
		<title> Update Appointment </title>
	</head>
	<body>
		<div id='container'>
			<div id='content'>
				<div id="header">
					<a href="/success"> Dashboard </a>  |  <a href="/logout"> Logout </a>
				</div>
				<h2> Edit Appointment: {{ edit.id }}</h2>

				{% if messages %}
  					{% for message in messages %}
     					<h3> {{ message }} </h3>
  					{% endfor %}
				{% endif %}
				
				<form action="/update/{{ edit.id }}" method="POST">
				{% csrf_token %} 
					<label> Tasks: </label><input type="text" name="task" placeholder="{{ edit.task }}">
					<label> Status: </label>
						<select name="status">
							<option> Pending </option>
							<option> Missed </option>
							<option> Done </option>
						</select>
					<label> Date: </label><input type="date" name="date">
					<label> Time: </label><input type="time" name="time">
					<input type="submit" value="Update">
				</form>
			</div>
		</div>
	</body>
</html>