<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='dojoSurveyVal.css') }}">
		<title> Dojo Survey Index </title>
	</head>
	<body>
		<div id="container">
			<div id="content">
				<form action='/process' method='post'>
					{% with messages = get_flashed_messages() %}
		   				{% if messages %}
		      				{% for message in messages %}
		         				<h4> {{ message }} </h4>
		      				{% endfor %}
		   				{% endif %}
					{% endwith %} 
					<label> Your Name: <span><input type="text" name="name"></span> </label>
					<label> Dojo Location: 
						<span><select name="location">
							<option>Chicago</option>
							<option>Dallas</option>
							<option>Los Angeles</option>
							<option>Seattle</option>
							<option>Silicon Valley</option>
							<option>Tulsa</option>
							<option>Washington DC</option></select>
						</select>
					</label>	
					<label> <span>Favorite Language:</span> 
						<span><select name="language">
							<option>HTML</option>
							<option>CSS</option>
							<option>JavaScript</option>
							<option>Python</option>
							<option>Ruby on Rails</option>
							<option>MEAN</option>
							<option>Swift</option></select>
						</select>
					</label>
					<label> Comment (optional): </label>
					<textarea name="comment"></textarea>
					<input type="submit" name="Submit">	
				</form>
			</div>
		</div>
	</body>
</html>