<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'REST_app/usersRest.css'%}">
		<title> Add User </title>
	</head>
	<body>
		<div id="container">
			<div id="content">
				<h2> Add a New User </h2>
			
	   				{% if messages %}
	      				{% for message in messages %}
	         				<h3> {{ message }} </h3>
	      				{% endfor %}
	   				{% endif %}

				<form action="/users/create" method="POST">
				{% csrf_token %}
					<label> First name: </label>
					<input type="text" name="first">
					<label> Last name: </label>
					<input type="text" name="last">
					<label> Email: </label>
					<input type="text" name="email">
					<input type="submit" value="Create">
				</form>
				<a href="/users"> Go Back </a>
			</div>
		</div>
	</body>
</html>